<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Survival Guide: El Reto Móvil</title>
</head>
<body>
    <h1>Survival Guide: El Reto Móvil</h1>
    <p>Bienvenido, estudiante. Selecciona una sección para comenzar.</p>
    <ul>
    <li><a href="/seccion/reglas">La Cámara de las Reglas</a></li>

    {% if session.get("reglas") %}
        <li><a href="/seccion/evaluacion">El Oráculo de las Notas</a></li>
    {% else %}
        <li>El Oráculo de las Notas</li>
    {% endif %}

    {% if session.get("evaluacion") %}
        <li><a href="/seccion/objetivos">Skills a Desbloquear</a></li>
    {% else %}
        <li>Skills a Desbloquear</li>
    {% endif %}

    {% if session.get("objetivos") %}
        <li><a href="/seccion/fechas">La Línea del Tiempo</a></li>
    {% else %}
        <li>La Línea del Tiempo</li>
    {% endif %}
</ul>
</body>
</html>